<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Event</title>
</head>
<body>
<h2>Create Sports Event</h2>
<form th:action="@{/organizer/create-event}" th:object="${event}" method="post">
    <label>Sport:</label>
    <input type="text" th:field="*{sportType}" required/><br/>
    <label>Place:</label>
    <input type="text" th:field="*{place}" required/><br/>
    <label>Date & Time:</label>
    <input type="datetime-local" th:field="*{dateTime}" required/><br/>
    <label>1st Prize:</label>
    <input type="text" th:field="*{prize1}" /><br/>
    <label>2nd Prize:</label>
    <input type="text" th:field="*{prize2}" /><br/>
    <label>3rd Prize:</label>
    <input type="text" th:field="*{prize3}" /><br/>
    <label>Last Registration Date:</label>
    <input type="date" th:field="*{registrationDeadline}" required/><br/>
    <button type="submit">Create</button>
</form>
</body>
</html>
